<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>766341020034-gr6deomp986mikomie7018hdcr2v64if.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.766341020034-gr6deomp986mikomie7018hdcr2v64if</string>
	<key>API_KEY</key>
	<string>AIzaSyAcSb3uF5HT23p2aYwQOkH4aOdoXrmpKbk</string>
	<key>GCM_SENDER_ID</key>
	<string>766341020034</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.imuhammadkhan.InVision-Test-App</string>
	<key>PROJECT_ID</key>
	<string>invision-test-app</string>
	<key>STORAGE_BUCKET</key>
	<string>invision-test-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:766341020034:ios:b5c7b2e5e125ccc0</string>
	<key>DATABASE_URL</key>
	<string>https://invision-test-app.firebaseio.com</string>
</dict>
</plist>